<div class="header">
  <h1 class="text-4xl font-bold">Bienvenue dans mon univers !</h1>
</div>
  <div class="container ml-4">
    <h2 class="font-bold text-xl">Mes projets</h2>
      <div class="cards grid grid-cols-3 gap-4 mb-4 mt-4">
        <div class="max-w-sm rounded overflow-hidden shadow-lg border-2 border-white-500/75">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Harmony</div>
            <p class="text-base mb-4">Cette application permet d'identifier une pochette de vinyl via une photo et l'ajoute ensuite à une bibliothèque virtuelle. Projet réalisé dans le cadre de ma formation en développement web au Wagon.</p>
            <a href="https://github.com/Morriwan/Harmony" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">En savoir plus</a>
          </div>
        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg border-2 border-white-500/75">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
              <p class="text-base mb-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
              </p>
              <a href="https://github.com/Morriwan/Harmony" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">En savoir plus</a>
          </div>
        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg border-2 border-white-500/75">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
              <p class="text-base mb-4">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
              </p>
              <a href="https://github.com/Morriwan/Harmony" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">En savoir plus</a>
          </div>
        </div>
      </div>
  </div>
  <div class="container ml-4">
    <h2 class="font-bold text-xl">Mes dernières découvertes</h2>
      <div class="cards grid grid-cols-3 gap-4 mb-4 mt-4">
        <div class="max-w-sm rounded overflow-hidden shadow-lg border-2 border-white-500/75">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">3 body problem</div>
            <p class="text-base mb-4">Sur plusieurs continents et à des années d'écart, cinq amis brillants font des découvertes ahurissantes alors que les lois de la science se dérèglent et qu'une lourde menace émerge.</p>
            <a href="https://m.imdb.com/title/tt13016388/?language=fr-ca" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">En savoir plus</a>
          </div>
        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg border-2 border-white-500/75">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Outer Range</div>
              <p class="text-base mb-4">
                Un éleveur qui se bat pour sa terre et sa famille tombe sur un mystère insondable aux frontières de la nature sauvage du Wyoming.
              </p>
              <a href="https://www.imdb.com/title/tt11685912/" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">En savoir plus</a>
          </div>
        </div>
        <div class="max-w-sm rounded overflow-hidden shadow-lg border-2 border-white-500/75">
          <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
              <p class="text-base mb-4">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
              </p>
              <a href="https://github.com/Morriwan/Harmony" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">En savoir plus</a>
          </div>
        </div>
      </div>
  </div>
<footer>
  <div class="links">
    <a href="https://www.facebook.com/baptistepxl.garrigues/"><i class="fab fa-fw fa-facebook-f"></i></a>
    <a href="https://github.com/Morriwan"><i class="fab fa-fw fa-github"></i></a>
    <a href="https://www.linkedin.com/in/%20baptiste-garrigues"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&pp=ygUXbmV2ZXIgZ29ubmEgZ2l2ZSB5b3UgdXA%3D"><i class="fab fa-fw fa-instagram"></i></a>
    <p>No <i class="fa-solid fa-spaghetti-monster-flying"></i> were harmed during the coding of this page.</p>
  </div>
</footer>
